*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 15px;
    background-color: rgb(21, 21, 21);
}

.nav-menu {
    height: 60px;
    background-color: black;
    display: flex;
    align-items: center;
    max-width: 100%;
}

#logo{
    height: 30px;
    margin-left: 20px;
    margin-right: 30px;
}

h2 {
    color: rgb(237, 237, 111);
    font-size: 0.7em;
}

nav {
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 10px;
    font-weight: 900;
}

.buttons {
    display: flex;
    justify-content: right;
    margin-left: auto;
    align-items: center;
}

.btn-create {
    width: 150px;
    height: 45px;
    color: white;
    font-weight: 900;
    background-color: rgb(64, 64, 64);
    border: none;
    border-radius: 3px;
    margin-left: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 100px;
    height: 45px;
    color: white;
    background-color: rgb(64, 64, 64);
    border: none;
    border-radius: 3px;
    font-weight: 900;
}

.glass {
    color: grey;
    font-weight: 900;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 1.4em;
}

.green-arrow {
    color: rgb(1, 180, 1);
    font-size: 1.2em;
    font-weight: 900;
}

.m-l-10 {
    margin-left: 10px;
}

.m-t-20 {
    margin-top:20px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-b-5 {
    margin-bottom: 5px;
}

.spark-label {
    color: grey;
    margin-right: 10px;
}

.grey-arrow {
    color: grey;
    align-self: flex-end;
}

#spark {
    display: none;
}

.row {
    display: flex;
    max-width:100%;
    justify-content: space-between;
    height: 500px;
    background: rgb(37,37,37);
    background: linear-gradient(90deg, rgba(37,37,37,1) 0%, rgba(0,0,0,1) 100%);
}

.column-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    align-items: flex-start;
    width: 65%;
}

.column-two {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.white {
    color: white;
}

.bold {
    font-weight: 900;
}

.thin {
    font-weight: 100;
}

.opacity07 {
    opacity: 0.7;
}


h3 {
    font-size: 2em;
    letter-spacing: 1px;
}

.p-description {
    font-size: 1.2em;
    font-weight: 100;
    letter-spacing: 1px;
    line-height: 30px;
}

.sign-up-btn {
    color: black;
    background-color: rgb(77, 172, 77);
    width: 200px;
    border: none;
    height: 60px;
    border-radius: 3px;
    font-size: 1.4em;
    margin-right: 5px;
}

.learn-more-btn {
    color: white;
    background-color:rgb(9, 9, 9);
    width: 150px;
    border: none;
    height: 60px;
    border-radius: 3px;
    font-size: 1.4em;
    margin-right: 5px;

}

.blue {
    color:rgb(109, 197, 234);
}

.footer-menu {
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    background-color: rgb(54, 54, 54); 
}

.footer-menu-item {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-grey {
    border: 1px solid grey;
}

.font-size-12{
    font-size: 1.2em;
}